# **********************************************************************************************
#                            - GED dummy backend configuration -
# **********************************************************************************************
#
# Copyright (C) 2007 Jérémie Bernard, Michaël Aubertin
#
# This package is free software; you can redistribute it and/or modify it under the terms of the 
# GNU General Public License as published by the Free Software Foundation; either version 2 of 
# the License, or (at your option) any later version.
#
# This software is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
# See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with this software; 
# if not, write to :
# Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA.
# **********************************************************************************************

#-----------------------------------------------------------------------------------------------
# listener backend module [mandatory]
#-----------------------------------------------------------------------------------------------
# syntax :
#
# <backend mod="/path/to/module"[/]>
#	[parameter_name value1 [valuex]*]*
# </backend>]
#
# -> specifies the way the listener should register handled packets, "mod" should point to a 
#    dedicated module given its specific parameters
#
# -> whatever the backend is, the common parameters are as follows :
#
#  ttl_active_queue  [seconds]
#  ttl_sync_queue    [seconds]
#  ttl_history_queue [seconds]
#  specifies the time to live for each of the backend queue records (default is 0)
#
#  ttl_timer 	     [seconds]
#  specifies the ttl time check intervall given in seconds (default is 300s)
#  
#  set any of the ttl_x_queue to 0 or comment it to disable ttl handling on the specified 
#  queue, set the timer to 0 to completly disable ttl handling
#
#  cfg_cache 	     [file]
#  specifies the backend config cache file (default is /var/cache/ged/ged.dat)

<backend mod="/srv/eyesofnetwork/ged/lib64/geddummy-1.5.so">

	ttl_timer			0

	ttl_active_queue		0
	ttl_sync_queue			0
	ttl_history_queue		0

</backend>
